@using DAL.models
@model IEnumerable<Airline>

@{
    ViewData["Title"] = "Airlines";
}

<h2>Airlines List</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Airline</a>
</p>

<table class="table table-bordered table-striped text-white">
    <thead class="table-dark text-white">
        <tr class="text-white">
            <th>Name</th>
            <th>Code</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class="text-white">
        @foreach (var item in Model)
        {
            <tr class="text-white">
                <td>@item.Name</td>
                <td>@item.Code</td>
            
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

